header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-baixar{
    background-color: black;
    padding: 4px;
    border: none;
    border-radius: 6px;
    color: white;
}

.btn-assinar{
    background-color: green;
    padding: 4px;
    border: none;
    border-radius: 6px;
    color: white;
}

.btn-delete{
    background-color: red;
    padding: 4px;
    border: none;
    border-radius: 6px;
    color: white;
} 